.default .navbar-nav>li>a {
    border: 1px solid black;
    border-radius: 5px;
}

body {
    background-color: red;
}

.subItem {
    font-size: 5vh;
}

.entryPage {
    position: relative;
    max-width: 600px;
    margin: 0px auto;
}